@media screen and (min-width: 720px) {
    .undernav {
        margin: 0;
        display: flex;
        gap: 30rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        justify-content: center;
    }

    .resume {
        font-size: 1.1rem;
    }

    .contact {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 2rem;
    }

    .image-projects {
        max-width: 90%;
        height: auto;
    }

    .aboutp {
        max-width: 600px;
        margin-left: 3rem;
        font-size: 1rem;
    }

    .tech-skill .skills {
        grid-template-columns: repeat(4, 1fr);
    }

    .view-live-button{
        display: none;
    }

}