.btn {
    background: linear-gradient(145deg,
            #c3f990 0%,
            #a0e21a 10%,
            #7ba521 80%
            
            

        );
    
    border-radius: 1rem;
    border: 1px solid #11151b;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    transition: 0.3s ease;
    color: #11151b;
    letter-spacing: 0.5px;
  
    &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    color: #fff;
    }

}

